# SMART REMOTE Configuration
SMART_REMOTE_HOST=0.0.0.0
SMART_REMOTE_PORT=7070
SMART_REMOTE_TAILSCALE_IP=100.69.194.11
ALLOWED_FILE_ROOT=/home/aryan
SECRET_KEY=smart-remote-super-secret-key-2026
ENVIRONMENT=production
SCREEN_STREAM_FPS=25
SCREEN_STREAM_QUALITY=50
